@import "../../stylesheets/variables";

.app-bar {
	padding: 20px 0;
	background-color: $info;
	color: $white;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__brand-name a {
		font-size: 20px;
		font-weight: 700;

		&,
		&:hover,
		&:focus,
		&:active {
			color: $white;
			text-decoration: none;
		}
	}

	&__nav {
		display: flex;
		align-items: center;

		&-user {
			display: inline-block;
			padding: 6px 12px;
			font-weight: 700;
			font-size: 14px;
		}

		&-link button {
			&,
			&:hover,
			&:focus,
			&:active {
				color: $white;
			}
		}
	}
}
