@import "../../stylesheets/variables";

.button {
	background-image: none;
	position: relative;

	&,
	&:focus,
	&:focus-visible {
		border: 0;
		outline: 0 !important;
	}

	&__spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: opacity 0.1s ease-in;

		&--visible {
			opacity: 1;
		}
	}

	&__children {
		opacity: 0;
		transition: opacity 0.1s ease-in;

		&--visible {
			opacity: 1;
		}
	}

	&--primary {
		background-color: $button-info-bg;

		&,
		&:active,
		&:focus {
			border-right: 2px solid $button-info-border;
			border-bottom: 2px solid $button-info-border;
		}
	}

	&--danger {
		background-color: $button-danger-bg;

		&,
		&:active,
		&:focus {
			border-right: 2px solid $button-danger-border;
			border-bottom: 2px solid $button-danger-border;
		}
	}

	&--warning {
		background-color: $button-warning-bg;

		&,
		&:active,
		&:focus {
			border-right: 2px solid $button-warning-border;
			border-bottom: 2px solid $button-warning-border;
		}
	}

	&--success {
		background-color: $button-success-bg;

		&,
		&:active,
		&:focus {
			border-right: 2px solid $button-success-border;
			border-bottom: 2px solid $button-success-border;
		}
	}
}
