@import "../../stylesheets/variables";

.field-group {
	margin-bottom: 40px;

	input[type="file"] {
		cursor: pointer;

		&:focus {
			outline: 0;
		}
	}

	&__input {
		&:not([type="file"]) {
			background-color: $input-bg;

			&:focus {
				border-color: $input-focused-border;
				outline: 0;
				box-shadow: inset 0 1px 1px $input-focused-inset-shadow,
					0 0 8px $input-focused-shadow;
			}
		}

		&--error:not([type="file"]) {
			&,
			&:focus {
				border-color: $input-invalid-normal-border;
				outline: 0;
				box-shadow: inset 0 1px 1px $input-invalid-focused-inset-shadow,
					0 0 8px $input-invalid-focused-shadow;
			}
		}
	}

	&__error {
		width: 100%;
		margin: 4px 0 0;
		font-size: 14px;
		color: $input-error-text;
		height: 0;
		transform: translateY(-6px);
		opacity: 0;
		transition: transform 0.1s ease-in, opacity 0.1s ease-in;

		&--visible {
			transform: translateY(0);
			opacity: 1;
		}
	}
}
