@import "../../stylesheets/variables";

.spinner {
	border: 3px solid transparent;
	border-radius: 50%;
	border-top: 3px solid $white;
	width: 20px;
	height: 20px;
	-webkit-animation: spin 0.8s linear infinite; /* Safari */
	animation: spin 0.8s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
