.place-table-container {
	overflow-x: auto;
	margin-bottom: 20px;
}

.place-table {
	border-collapse: separate;
	border-spacing: 2px;
	border: 2px solid #000000;
	width: 100%;
	margin: 0;

	& > tbody > tr > td {
		border-top: 0;
		vertical-align: middle;
	}

	th {
		background-color: #000000;
		color: #ffffff;
		font-size: 16px;
		padding: 10px;
		text-align: center;
		text-transform: uppercase;
	}

	tr {
		&:nth-child(2n) td {
			background-color: #efefef;
		}
	}

	td {
		padding: 10px;
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
		border-top: 0;

		img {
			height: 130px;
			object-fit: cover;
			width: 200px;
		}
	}

	&__header {
		&-rating {
			display: flex;
			align-items: center;
			justify-content: center;

			&-indicator-container {
				display: flex;
				flex-direction: column;
				font-size: 10px;
				margin-left: 8px;
			}

			&-indicator {
				opacity: 1;
				transition: opacity 0.1s ease;

				&--down {
					margin-top: -2px;
				}

				&--hidden {
					opacity: 0;
				}
			}
		}

		&--clickable {
			cursor: pointer;
		}
	}

	&__action-button {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
}
