.page-header {
	h1 {
		font-size: 24px;
		font-weight: 700;
		text-align: center;
	}
}

.form-group {
	margin-bottom: 20px;
}

.form-control {
	height: 40px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

input[type="file"] {
	cursor: pointer;

	&:focus {
		outline: 0;
	}
}
