.page-header {
	h1 {
		font-size: 24px;
		font-weight: 700;
		text-align: center;
	}
}

.form-control {
	height: 40px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

[class*="-page"] {
	&[class*="container"] {
		padding: 0 15px 60px;
	}
}
