.page-header {
	h1 {
		font-size: 24px;
		font-weight: 700;
		text-align: center;
	}
}

button,
.btn {
	&,
	&:focus,
	&:focus-visible {
		border: 0;
		outline: 0 !important;
	}
}

.form-control {
	height: 40px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

input[type="file"] {
	cursor: pointer;

	&:focus {
		outline: 0;
	}
}

[class*="-page"] {
	&[class*="container"] {
		padding: 20px 15px 60px;
	}
}
